<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <header>
        <div id="home-index">
          <div class="intro-text">
              <div class="intro-lead-in">Seja um Chef você também!</div>
              <div class="intro-heading">EasyCook</div>


              <button type="submit" class="btn btn-xl"><img src = "assets/logo-search.png" > Pesquisar Receitas</button>
          </div>
      </div>
    </header>

    <!-- jQuery -->
    <script src="app/assets/javascripts/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="app/assets/javascripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="app/assets/javascripts/jqBootstrapValidation.js"></script>
    <script src="app/assets/javascripts/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="app/assets/javascripts/agency.min.js"></script>

</body>

</html>
