<p id="notice"><%= notice %></p>

<h1>Listing Tags</h1>
<div id="tag_cloud">
  <% tag_cloud Ingredient.tag_counts, %w[s m l] do |tag, css_class|%>
    <%= link_to tag.name, tag_path(tag.name, class: css_class)%></br>
  <% end %>
</div>
